In [1]:
# Import our dependencies 
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler 
import pandas as pd 
import tensorflow as tf
# Import and read the charity_data.csv. 
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv") 
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
application_df.drop(columns=['EIN','NAME'], inplace=True) 
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
 application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
type_counts = application_df['APPLICATION_TYPE'].value_counts()
type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
application_types_to_replace = list(type_counts[type_counts<500].index)
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
classification_counts[classification_counts.values>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
classifications_to_replace = list(classification_counts[classification_counts<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
numeric_dummies = pd.get_dummies(application_df)
numeric_dummies.head

<bound method NDFrame.head of        STATUS   ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0           1      5000              1                       0
1           1    108590              1                       0
2           1      5000              0                       0
3           1      6692              1                       0
4           1    142590              1                       0
...       ...       ...            ...                     ...
34294       1      5000              0                       0
34295       1      5000              0                       0
34296       1      5000              0                       0
34297       1      5000              1                       0
34298       1  36500179              0                       0

       APPLICATION_TYPE_T10  APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  \
0                         1                     0                    0
1                         0                     0                    1
2                         0                     0                    0
3                         0                     0                    1
4                         0                     0                    1
...                     ...                   ...                  ...
34294                     0                     0                    0
34295                     0                     0                    0
34296                     0                     0                    1
34297                     0                     0                    0
34298                     0                     0                    1

       APPLICATION_TYPE_T4  APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  ...  \
0                        0                    0                    0  ...
1                        0                    0                    0  ...
2                        0                    1                    0  ...
3                        0                    0                    0  ...
4                        0                    0                    0  ...
...                    ...                  ...                  ...  ...
34294                    1                    0                    0  ...
34295                    1                    0                    0  ...
34296                    0                    0                    0  ...
34297                    0                    1                    0  ...
34298                    0                    0                    0  ...

       INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0                      0                       0                         0
1                      1                       0                         0
2                      0                       0                         0
3                      0                       1                         0
4                      0                       0                         1
...                  ...                     ...                       ...
34294                  0                       0                         0
34295                  0                       0                         0
34296                  0                       0                         0
34297                  0                       0                         0
34298                  0                       0                         0

       INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0                       0                 0                       0
1                       0                 0                       0
2                       0                 0                       0
3                       0                 0                       0
4                       0                 0                       0
...                   ...               ...                     ...
34294                   0                 0                       0
34295                   0                 0                       0
34296                   0                 0                       0
34297                   0                 0                       0
34298                   0                 1                       0

       INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0                    0                  0                         1
1                    0                  0                         1
2                    0                  0                         1
3                    0                  0                         1
4                    0                  0                         1
...                ...                ...                       ...
34294                0                  0                         1
34295                0                  0                         1
34296                0                  0                         1
34297                0                  0                         1
34298                0                  0                         1

       SPECIAL_CONSIDERATIONS_Y
0                             0
1                             0
2                             0
3                             0
4                             0
...                         ...
34294                         0
34295                         0
34296                         0
34297                         0
34298                         0

[34299 rows x 44 columns]>

In [12]:
# Split our preprocessed data into our features and target arrays
X = numeric_dummies.drop('IS_SUCCESSFUL', axis=1).values
y = numeric_dummies['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [14]:
input_features = len(X_train[0])

nn = tf.keras.models.Sequential()

layer1_nodes = 80
layer2_nodes = 20

# First hidden layer
nn.add(tf.keras.layers.Dense(units = layer1_nodes, activation ='relu', input_dim = input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units = layer2_nodes, activation ='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, activation ='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 20)                1620

 dense_2 (Dense)             (None, 1)                 21

=================================================================
Total params: 5161 (20.16 KB)
Trainable params: 5161 (20.16 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [16]:
fit_model = nn.fit(X_train_scaled, y_train, epochs= 100)

Epoch 1/100
804/804 [==============================] - 0s 329us/step - loss: 0.5686 - accuracy: 0.7222
Epoch 2/100
804/804 [==============================] - 0s 328us/step - loss: 0.5560 - accuracy: 0.7295
Epoch 3/100
804/804 [==============================] - 0s 327us/step - loss: 0.5534 - accuracy: 0.7295
Epoch 4/100
804/804 [==============================] - 0s 355us/step - loss: 0.5515 - accuracy: 0.7314
Epoch 5/100
804/804 [==============================] - 0s 321us/step - loss: 0.5502 - accuracy: 0.7315
Epoch 6/100
804/804 [==============================] - 0s 317us/step - loss: 0.5489 - accuracy: 0.7313
Epoch 7/100
804/804 [==============================] - 0s 317us/step - loss: 0.5485 - accuracy: 0.7322
Epoch 8/100
804/804 [==============================] - 0s 321us/step - loss: 0.5479 - accuracy: 0.7325
Epoch 9/100
804/804 [==============================] - 0s 399us/step - loss: 0.5467 - accuracy: 0.7314
Epoch 10/100
804/804 [==============================] - 0s 321us/step - loss: 0.5467 - accuracy: 0.7328
Epoch 11/100
804/804 [==============================] - 0s 316us/step - loss: 0.5460 - accuracy: 0.7339
Epoch 12/100
804/804 [==============================] - 0s 328us/step - loss: 0.5456 - accuracy: 0.7334
Epoch 13/100
804/804 [==============================] - 0s 316us/step - loss: 0.5456 - accuracy: 0.7343
Epoch 14/100
804/804 [==============================] - 0s 319us/step - loss: 0.5453 - accuracy: 0.7339
Epoch 15/100
804/804 [==============================] - 0s 321us/step - loss: 0.5450 - accuracy: 0.7339
Epoch 16/100
804/804 [==============================] - 0s 321us/step - loss: 0.5441 - accuracy: 0.7341
Epoch 17/100
804/804 [==============================] - 0s 316us/step - loss: 0.5443 - accuracy: 0.7353
Epoch 18/100
804/804 [==============================] - 0s 328us/step - loss: 0.5440 - accuracy: 0.7354
Epoch 19/100
804/804 [==============================] - 0s 330us/step - loss: 0.5435 - accuracy: 0.7346
Epoch 20/100
804/804 [==============================] - 0s 317us/step - loss: 0.5437 - accuracy: 0.7353
Epoch 21/100
804/804 [==============================] - 0s 340us/step - loss: 0.5430 - accuracy: 0.7358
Epoch 22/100
804/804 [==============================] - 0s 316us/step - loss: 0.5429 - accuracy: 0.7362
Epoch 23/100
804/804 [==============================] - 0s 314us/step - loss: 0.5426 - accuracy: 0.7362
Epoch 24/100
804/804 [==============================] - 0s 317us/step - loss: 0.5426 - accuracy: 0.7356
Epoch 25/100
804/804 [==============================] - 0s 316us/step - loss: 0.5420 - accuracy: 0.7368
Epoch 26/100
804/804 [==============================] - 0s 316us/step - loss: 0.5417 - accuracy: 0.7365
Epoch 27/100
804/804 [==============================] - 0s 317us/step - loss: 0.5419 - accuracy: 0.7370
Epoch 28/100
804/804 [==============================] - 0s 321us/step - loss: 0.5416 - accuracy: 0.7371
Epoch 29/100
804/804 [==============================] - 0s 318us/step - loss: 0.5413 - accuracy: 0.7374
Epoch 30/100
804/804 [==============================] - 0s 319us/step - loss: 0.5415 - accuracy: 0.7366
Epoch 31/100
804/804 [==============================] - 0s 319us/step - loss: 0.5410 - accuracy: 0.7368
Epoch 32/100
804/804 [==============================] - 0s 327us/step - loss: 0.5403 - accuracy: 0.7373
Epoch 33/100
804/804 [==============================] - 0s 323us/step - loss: 0.5407 - accuracy: 0.7376
Epoch 34/100
804/804 [==============================] - 0s 321us/step - loss: 0.5405 - accuracy: 0.7381
Epoch 35/100
804/804 [==============================] - 0s 319us/step - loss: 0.5404 - accuracy: 0.7376
Epoch 36/100
804/804 [==============================] - 0s 339us/step - loss: 0.5405 - accuracy: 0.7377
Epoch 37/100
804/804 [==============================] - 0s 399us/step - loss: 0.5403 - accuracy: 0.7375
Epoch 38/100
804/804 [==============================] - 0s 329us/step - loss: 0.5399 - accuracy: 0.7383
Epoch 39/100
804/804 [==============================] - 0s 322us/step - loss: 0.5396 - accuracy: 0.7382
Epoch 40/100
804/804 [==============================] - 0s 323us/step - loss: 0.5396 - accuracy: 0.7383
Epoch 41/100
804/804 [==============================] - 0s 323us/step - loss: 0.5396 - accuracy: 0.7385
Epoch 42/100
804/804 [==============================] - 0s 322us/step - loss: 0.5397 - accuracy: 0.7383
Epoch 43/100
804/804 [==============================] - 0s 325us/step - loss: 0.5397 - accuracy: 0.7380
Epoch 44/100
804/804 [==============================] - 0s 324us/step - loss: 0.5395 - accuracy: 0.7376
Epoch 45/100
804/804 [==============================] - 0s 320us/step - loss: 0.5393 - accuracy: 0.7371
Epoch 46/100
804/804 [==============================] - 0s 323us/step - loss: 0.5389 - accuracy: 0.7376
Epoch 47/100
804/804 [==============================] - 0s 324us/step - loss: 0.5388 - accuracy: 0.7386
Epoch 48/100
804/804 [==============================] - 0s 325us/step - loss: 0.5388 - accuracy: 0.7383
Epoch 49/100
804/804 [==============================] - 0s 321us/step - loss: 0.5390 - accuracy: 0.7378
Epoch 50/100
804/804 [==============================] - 0s 344us/step - loss: 0.5388 - accuracy: 0.7388
Epoch 51/100
804/804 [==============================] - 0s 322us/step - loss: 0.5384 - accuracy: 0.7380
Epoch 52/100
804/804 [==============================] - 0s 323us/step - loss: 0.5387 - accuracy: 0.7386
Epoch 53/100
804/804 [==============================] - 0s 328us/step - loss: 0.5384 - accuracy: 0.7392
Epoch 54/100
804/804 [==============================] - 0s 321us/step - loss: 0.5385 - accuracy: 0.7385
Epoch 55/100
804/804 [==============================] - 0s 321us/step - loss: 0.5384 - accuracy: 0.7390
Epoch 56/100
804/804 [==============================] - 0s 324us/step - loss: 0.5379 - accuracy: 0.7386
Epoch 57/100
804/804 [==============================] - 0s 322us/step - loss: 0.5375 - accuracy: 0.7385
Epoch 58/100
804/804 [==============================] - 0s 323us/step - loss: 0.5381 - accuracy: 0.7384
Epoch 59/100
804/804 [==============================] - 0s 322us/step - loss: 0.5374 - accuracy: 0.7390
Epoch 60/100
804/804 [==============================] - 0s 321us/step - loss: 0.5377 - accuracy: 0.7389
Epoch 61/100
804/804 [==============================] - 0s 323us/step - loss: 0.5377 - accuracy: 0.7392
Epoch 62/100
804/804 [==============================] - 0s 319us/step - loss: 0.5376 - accuracy: 0.7386
Epoch 63/100
804/804 [==============================] - 0s 345us/step - loss: 0.5377 - accuracy: 0.7392
Epoch 64/100
804/804 [==============================] - 0s 321us/step - loss: 0.5372 - accuracy: 0.7388
Epoch 65/100
804/804 [==============================] - 0s 321us/step - loss: 0.5379 - accuracy: 0.7393
Epoch 66/100
804/804 [==============================] - 0s 324us/step - loss: 0.5374 - accuracy: 0.7388
Epoch 67/100
804/804 [==============================] - 0s 320us/step - loss: 0.5368 - accuracy: 0.7376
Epoch 68/100
804/804 [==============================] - 0s 323us/step - loss: 0.5372 - accuracy: 0.7386
Epoch 69/100
804/804 [==============================] - 0s 322us/step - loss: 0.5379 - accuracy: 0.7393
Epoch 70/100
804/804 [==============================] - 0s 322us/step - loss: 0.5370 - accuracy: 0.7390
Epoch 71/100
804/804 [==============================] - 0s 324us/step - loss: 0.5369 - accuracy: 0.7401
Epoch 72/100
804/804 [==============================] - 0s 322us/step - loss: 0.5372 - accuracy: 0.7398
Epoch 73/100
804/804 [==============================] - 0s 323us/step - loss: 0.5368 - accuracy: 0.7397
Epoch 74/100
804/804 [==============================] - 0s 321us/step - loss: 0.5368 - accuracy: 0.7392
Epoch 75/100
804/804 [==============================] - 0s 323us/step - loss: 0.5365 - accuracy: 0.7396
Epoch 76/100
804/804 [==============================] - 0s 325us/step - loss: 0.5369 - accuracy: 0.7398
Epoch 77/100
804/804 [==============================] - 0s 342us/step - loss: 0.5364 - accuracy: 0.7400
Epoch 78/100
804/804 [==============================] - 0s 320us/step - loss: 0.5366 - accuracy: 0.7389
Epoch 79/100

804/804 [==============================] - 0s 321us/step - loss: 0.5367 - accuracy: 0.7396
Epoch 80/100
804/804 [==============================] - 0s 319us/step - loss: 0.5366 - accuracy: 0.7396
Epoch 81/100
804/804 [==============================] - 0s 319us/step - loss: 0.5365 - accuracy: 0.7399
Epoch 82/100
804/804 [==============================] - 0s 319us/step - loss: 0.5363 - accuracy: 0.7400
Epoch 83/100
804/804 [==============================] - 0s 320us/step - loss: 0.5366 - accuracy: 0.7397
Epoch 84/100
804/804 [==============================] - 0s 319us/step - loss: 0.5364 - accuracy: 0.7392
Epoch 85/100
804/804 [==============================] - 0s 319us/step - loss: 0.5362 - accuracy: 0.7391
Epoch 86/100
804/804 [==============================] - 0s 319us/step - loss: 0.5362 - accuracy: 0.7390
Epoch 87/100
804/804 [==============================] - 0s 319us/step - loss: 0.5367 - accuracy: 0.7395
Epoch 88/100
804/804 [==============================] - 0s 319us/step - loss: 0.5361 - accuracy: 0.7400
Epoch 89/100
804/804 [==============================] - 0s 320us/step - loss: 0.5364 - accuracy: 0.7400
Epoch 90/100
804/804 [==============================] - 0s 319us/step - loss: 0.5360 - accuracy: 0.7401
Epoch 91/100
804/804 [==============================] - 0s 319us/step - loss: 0.5363 - accuracy: 0.7392
Epoch 92/100
804/804 [==============================] - 0s 319us/step - loss: 0.5361 - accuracy: 0.7399
Epoch 93/100
804/804 [==============================] - 0s 320us/step - loss: 0.5363 - accuracy: 0.7395
Epoch 94/100
804/804 [==============================] - 0s 318us/step - loss: 0.5357 - accuracy: 0.7402
Epoch 95/100
804/804 [==============================] - 0s 319us/step - loss: 0.5360 - accuracy: 0.7403
Epoch 96/100
804/804 [==============================] - 0s 318us/step - loss: 0.5361 - accuracy: 0.7394
Epoch 97/100
804/804 [==============================] - 0s 318us/step - loss: 0.5356 - accuracy: 0.7401
Epoch 98/100
804/804 [==============================] - 0s 325us/step - loss: 0.5361 - accuracy: 0.7392
Epoch 99/100
804/804 [==============================] - 0s 321us/step - loss: 0.5358 - accuracy: 0.7395
Epoch 100/100
804/804 [==============================] - 0s 320us/step - loss: 0.5357 - accuracy: 0.7395

In [17]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5578 - accuracy: 0.7289 - 176ms/epoch - 656us/step
Loss: 0.5578470826148987, Accuracy: 0.728863000869751

In [20]:
nn.save('../Deep_Learning/HDF5_Files/second_attempt.h5')